<section data-ng-controller="ContactController">
	<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12" style=" border: 2px solid #F3DEBA; background-color: #F3DEBA;">
		<div class="row" style="margin-top: 25px">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<legend><i class="fa fa-globe"></i> <span style="font-weight: bold;">Sundown Tavern</span></legend>
				<address>
					111 E. Park Ave.<br>
					Ruston, La 71270<br>
					Phone: (318)255-8028
				</address>
				<address>
					<strong>Email</strong><br>
					<a href="mailto:maria@sundowntavern.biz">maria@sundowntavern.biz</a>
				</address>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12" data-ng-hide="hasSent">
				<form name="form" class="form-horizontal" data-ng-submit="sendMail()" novalidate>
					<div class="row">
						<div class="col-md-6">
							<label for="name">Name<span class="text-danger"> *</span></label>
							<input data-ng-model="name" type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
						</div>
						<div class="col-md-6">
							<label for="email">Email<span class="text-danger"> *</span></label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
								<input data-ng-model="email" type="email" name="email" class="form-control"placeholder="Enter email" required />
							</div>
							<span class="text-danger" data-ng-show="form.email.$error.email">Invalid email.</span>
						</div>
					</div>
					<div class="row" style="margin-top: 15px;">
						<div class="col-md-6">
							<label for="phone">Phone<span class="text-danger"> *</span></label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-phone"></i></span>
								<input data-ng-model="phone" name="phone" type="text" class="form-control"placeholder="Enter phone" ng-minlength="10" ng-maxlength="11" required />
							</div>
						</div>
						<div class="col-md-6">
							<label for="subject">Subject<span class="text-danger"> *</span></label>
							<select data-ng-model="subject" name="subject" id="subject" class="form-control"required>
								<option>Catering</option>
								<option>Book Your Band</option>
								<option>Patio Rental</option>
								<option>Other</option>
							</select>
						</div>
					</div>
					<div class="row" style="margin-top: 15px;">
						<div class="col-md-12">
							<label for="message">Message<span class="text-danger">*</span></label>
							<textarea data-ng-model="message" name="message" id="message" class="form-control" rows="5" placeholder="Message" required></textarea>
						</div>
					</div>
					<div class="row" style="margin-top: 15px;">
						<div class="col-md-4 col-sm-12 col-xs-12">
							<button data-ng-disabled="form.$invalid" type="submit" class="btn btn-primary">Send Message <i class="fa fa-mail-forward"></i>
							</button>
						</div>
					</div>
				</form>	
				<!-- [END] Form -->
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12" data-ng-show="hasSent">
				<div class="alert alert-success">
					Thank you <strong>{{name}}</strong>. Someone from Sundown Tavern will be contacting you at <strong>{{email}}</strong> shortly.
				</div>
			</div>
		</div>
		<div class="row" style="padding-bottom: 50px; margin-top: 25px;">
			<div class="col-md-12 google-map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6727.998529319664!2d-92.6414732!3d32.5261666!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8631c541cee2630d%3A0x20277047f58fa80d!2sSundown+Tavern!5e0!3m2!1sen!2sus!4v1416779449458" width="100%" height="450" frameborder="0" style="border:0"></iframe>
			</div>
		</div>

	</div>
</section>