<!-- Footer -->
<div data-ng-controller="FooterController">
	<div class="container-fluid">
		<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 logo-box text-center" style="min-height: 50px; border: 2px solid #F3DEBA; border-top: none;">
			<div class="col-md-12" style="height: 10px;"></div>
			<div class="col-md-6 text-center" style="padding-bottom: 15px;">
				<span style="font-size: 13px; font-weight: bold;">© 2014 Sundown Tavern. All Rights Reserved. Created by <a href="http://brocktubre.com" style="color: #333333;">Brock Tubre</a>. </span>
			</div>
			<div class="col-md-6 text-center {{pull_right}}" id="footer-icons" style="padding-bottom: 15px;">
				<a href="https://www.facebook.com/pages/Sundown-Tavern/137480599609260"><i class="fa fa-facebook fa-2x" style="color: #333333;"></i></a>
				<a href="https://plus.google.com/105200895435991384058/photos"><i class="fa fa-google-plus fa-2x" style="color: #333333;"></i></a>
				<a href="#"><i class="fa fa-instagram fa-2x" style="color: #333333;"></i></a>
			</div>
		</div>
	</div>
	<div class="contain-fluid" style="min-height: 50px;"></div>
</div>
<!-- [END] Footer -->