<!-- Footer -->
<div data-ng-controller="FooterController">
	<footer class="container-fluid">
		<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 logo-box" style="min-height: 50px; border: 2px solid #F3DEBA; border-top: none;">
			<div class="col-md-12" style="height: 15px;"></div>
			<div class="col-md-6 col-sm-12 col-xs-12 {{text_center}}">
				<span style="font-size: 13px;"><strong>© Sundown Tavern. All Rights Reserved 2015. <br> <img src="/modules/core/img/signLogo.png" style="max-height: 15px;" > Created by <a href="http://brocktubre.com" style="color: #333333;">Brock Tubre</a>.</span>
			</div>
			<div class="col-md-2 col-md-offset-4 col-sm-12 col-xs-12 {{text_center}}" style="padding-bottom: 15px; margin-top: 10px;">
				<a href="https://www.facebook.com/pages/Sundown-Tavern/137480599609260" style="color: #333333;"><i class="fa fa-facebook fa-2x"></i></a>
				<a href="https://plus.google.com/105200895435991384058/photos" style="color: #333333;"><i class="fa fa-google-plus fa-2x"></i></a>
			</div>
		</div>
	</footer>
</div>
<!-- [END] Footer -->