<div data-ng-controller="HeaderController">
	<div class="container-fluid" style="margin-top: 25px;" data-ng-hide="authentication.user">
		<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
			<div class="pull-right" ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#!/signin" class="btn btn-sm btn-default"><i class="fa fa-lock"></i>Employee Login</a>
			</div>
		</div>
	</div>

	<!-- Logo in Box -->
	<div class="container-fluid" style="margin-top: 25px;">
		<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 well logo-box text-center logo-padding" style="border-top: 5px solid #F3DEBA;">
			<a href="/#!/"><img class="img-responsive center-block" src="/modules/core/img/logo.png" alt="" style="max-height: 200px;"/></a>
		</div>
	</div>
	<!-- [END] Logo in Box -->

	<!-- Navigation Bar -->
	<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
		<div class="navbar navbar-inverse">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
				<ul class="nav navbar-nav">
					<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
						<a ng-switch-when="dropdown" class="dropdown-toggle">
							<span data-ng-bind="item.title"></span>
							<b class="caret"></b>
						</a>
						<ul ng-switch-when="dropdown" class="dropdown-menu">
							<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
								<a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
							</li>
						</ul>
						<a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
					</li>
					<li class="dropdown {{pull_right}}" data-ng-show="authentication.user">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="/#!/settings/profile">Edit Profile</a>
							</li>
							<!-- <li>
								<a href="/#!/settings/accounts">Manage Social Accounts</a>
							</li> -->
							<li data-ng-show="authentication.user.provider === 'local'">
								<a href="/#!/settings/password">Change Password</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="/auth/signout">Signout</a>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
					<!-- <li ui-route="/signup-customer" ng-class="{active: $uiRoute}">
						<a href="/#!/signup-customer">Customer Sign Up</a>
					</li> -->
					<li class="divider-vertical"></li>
					<!-- Removed this ng-class="{active: $uiRoute}" -->
					<!-- This sign in should be for customers -->
					<li ui-route="/signin-customer">
						<a href="/#!/signin-customer">Customer Login</a>
					</li>
					<!-- <li ui-route="/signin" ng-class="{active: $uiRoute}"> -->
					<li>
						<a href="#"><i class="fa fa-shopping-cart"></i>Cart: {{cartitems}}</a>
					</li>
				</ul>
				<!-- <ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="/#!/settings/profile">Edit Profile</a>
							</li>
							<!-- <li>
								<a href="/#!/settings/accounts">Manage Social Accounts</a>
							</li>
							<li data-ng-show="authentication.user.provider === 'local'">
								<a href="/#!/settings/password">Change Password</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="/auth/signout">Signout</a>
							</li>
						</ul>
					</li>
				</ul> -->
			</nav>
		</div>
	</div>
</div>