<section data-ng-controller="HomeController">
	<!-- Carosale Section -->
	<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12" style="background-color: #F3DEBA; padding: 25px 25px;">
		<!-- Slider Section -->
		<div class="col-md-8">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" style="border: 2px solid #F3DEBA;">
					<div class="item active">
						<img src="/modules/core/img/img10.jpg" alt="...">
						<div class="carousel-caption">
							<!--  <h3>Caption Text</h3> -->
						</div>
					</div>
					<div class="item">
						<img src="/modules/core/img/img11.JPG" alt="...">
						<div class="carousel-caption">
							<!-- <h3>Caption Text</h3> -->
						</div>
					</div>
					<div class="item">
						<img src="/modules/core/img/img12.JPG" alt="...">
						<div class="carousel-caption">
							<!-- <h3>Caption Text</h3> -->
						</div>
					</div>
				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>

				
			</div>
		</div>

		<!-- info -->
		<div class="col-md-4">
			<h2 style="color: #44B85B; font-weight: bold;">Welcome</h2>
			<p>Welcome to <span style="font-weight: bold;">Sundown Tavern</span> in Ruston, La. Sundown Tavern was established April 17, 1975.  Owned by Bruce Van Zandt, it has for years been a local favorite.  Serving up sandwiches, salads, and the best burgers in town (well, we're proud of them).</p>
			<hr>
			<span class="text-center">	
				<h3><i class="fa fa-phone"></i> 318-255-8028</h3>
				<h3>111 E. Park Ave Ruston, La</h3>
				<br>
				<a class="btn btn-warning center-block" href="/#!/menuitems" style="font-weight: bold;">SEE OUR MENU</a>
			</span>
		</div>
	</div>
<!-- [END] Carasale Section -->

<!-- Slider Section -->
	<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12" style="background-color: #BF945D; border-top: 5px solid #5F0712; ">
		<div id="myCarousel" class="carousel slide" style="padding-top: 25px;">

			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>

			<!-- Carousel items -->
			<div class="carousel-inner">

				<div class="item active">
					<div class="container-fluid">
						<div class="col-md-3 col-sm-3 col-sm-12"><a href="#x" class="thumbnail"><img src="/modules/core/img/cocktails.jpg" alt="Image" style="max-width: 100%; max-height: 250px;"></a></div>
						<div class="col-md-3 col-sm-3 col-sm-12"><a href="#x" class="thumbnail"><img src="/modules/core/img/hamburger.jpg" alt="Image" style="max-width: 100%; max-height: 250px;"></a></div>
						<div class="col-md-3 col-sm-3 col-sm-12"><a href="#x" class="thumbnail"><img src="/modules/core/img/nachos.jpg" alt="Image" style="max-width: 100%;"></a></div>
						<div class="col-md-3 col-sm-3 col-sm-12"><a href="#x" class="thumbnail"><img src="/modules/core/img/salad.JPG" alt="Image" style="max-width: 100%;"></a></div>
					</div><!--/row-fluid-->
				</div><!--/item-->
				<div class="item">
					<div class="container-fluid">
						<div class="col-md-3 col-sm-3 col-sm-12"><a href="#x" class="thumbnail"><img src="/modules/core/img/nachos.jpg" alt="Image" style="max-width: 100%;"></a></div>
						<div class="col-md-3 col-sm-3 col-sm-12"><a href="#x" class="thumbnail"><img src="/modules/core/img/salad.JPG" alt="Image" style="max-width: 100%;"></a></div>
						<div class="col-md-3 col-sm-3 col-sm-12"><a href="#x" class="thumbnail"><img src="/modules/core/img/cocktails.jpg" alt="Image" style="max-width: 100%; max-height: 250px;"></a></div>
						<div class="col-md-3 col-sm-3 col-sm-12"><a href="#x" class="thumbnail"><img src="/modules/core/img/hamburger.jpg" alt="Image" style="max-width: 100%; max-height: 250px;"></a></div>
					</div><!--/row-fluid-->
				</div><!--/item-->
				<div class="item">
					<div class="container-fluid">
						<div class="col-md-3 col-sm-3 col-sm-12"><a href="#x" class="thumbnail"><img src="/modules/core/img/hamburger.jpg" alt="Image" style="max-width: 100%; max-height: 250px;"></a></div>
						<div class="col-md-3 col-sm-3 col-sm-12"><a href="#x" class="thumbnail"><img src="/modules/core/img/nachos.jpg" alt="Image" style="max-width: 100%;"></a></div>
						<div class="col-md-3 col-sm-3 col-sm-12"><a href="#x" class="thumbnail"><img src="/modules/core/img/salad.JPG" alt="Image" style="max-width: 100%;"></a></div>
						<div class="col-md-3 col-sm-3 col-sm-12"><a href="#x" class="thumbnail"><img src="/modules/core/img/cocktails.jpg" alt="Image" style="max-width: 100%; max-height: 250px;"></a></div>
					</div><!--/row-fluid-->
				</div><!--/item-->
			</div><!--/carousel-inner-->

			<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
		</div><!--/myCarousel-->
	</div>
		

	</div>
	<!-- [END] Slider Section -->

	<!-- Info Section -->
	<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12" style="background-color: #F3DEBA; border-top: 5px solid #381402; padding-bottom: 25px;">
		<div class="col-md-6 col-sm-6 col-xs-12">
			<h2 style="color: #44B85B; font-weight: bold;">Ruston's Best</h2>
			<p>Sundown Tavern is the downtown lunch hot spot.  You can find professionals, students, and families alike enjoying a bite to eat on our spacious patio.  And don't forget to come see us after work!  Sundown is the perfect place to wind down after a hard day.  Have a drink with your co-workers, some dinner with friends, and if you're still standing at 9pm, stay for the band.</p>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<h4 style="font-weight: bold;">Special Beers</h4>
				<p><span style="font-weight: bold;">Sundown Tavern</span> has a wide varitiey of mixed drinks, draft, and bottled beers.</p>
				<a href="#" class="btn btn-warning center-block" style="font-weight: bold; color: #F3DEBA;">READ MORE</a>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<img class="img-responsive center-block" src="/modules/core/img/img6.jpg" alt="" style="padding-top: 15px;"></i>
			</div>
		</div>
	</div>
<!-- [END] Info Section -->

<!-- Other Section -->
	<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 text-center" style="background-color: #381402; border-top: 2px dotted #F3DEBA; border-bottom: 2px dotted #F3DEBA;">
		<div class="col-md-12" style="height: 25px"></div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="well well-sm" style="background-color: #F3DEBA;">
				<h3 style="font-weight: bold;">WHERE WE ARE?</h3>
				<p>111 E. Park Ave. Ruston, La 71270</p>
				<a href="https://www.google.com/maps/place/Sundown+Tavern/@32.529052,-92.637587,17z/data=!3m1!4b1!4m2!3m1!1s0x8631c541cee2630d:0x20277047f58fa80d" class="btn btn-success" style="font-weight: bold; color: #F3DEBA;">GET DIRECTIONS</a>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="well well-sm" style="background-color: #F3DEBA;">
				<h3 style="font-weight: bold;">OPENING HOURS</h3>
				<p>We're open everyday</p>
				<p style="font-weight: bold; color: #AC0909; font-size: 15px;">11:00am-12:00am</p>
				<p style="font-weight: bold; color: #AC0909; font-size: 15px;">Sunday: 11:00am-10:00pm</p>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="well well-sm" style="background-color: #F3DEBA;">
				<h3 style="font-weight: bold;">COME VISIT!</h3>
				<p>Good mood, bad mood, dress up, dress down, bring a crew, or come alone.  Whatever the occasion...See you at Sundown Tavern!</p>
			</div>
		</div>
	</div>
	<!-- [END] Other Section -->
</section>

