<section data-ng-controller="AuthenticationController">
	<!-- <div class="container-fluid" style="margin-top: 75px;">
		<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 text-center" style="background-color: #F3DEBA; border-top: 5px solid #381402;">
			<a href="/auth/facebook" class="undecorated-link">
				<img src="/modules/users/img/buttons/facebook.png">
			</a>
			<a href="/auth/twitter" class="undecorated-link">
				<img src="/modules/users/img/buttons/twitter.png">
			</a>
			<a href="/auth/google" class="undecorated-link">
				<img src="/modules/users/img/buttons/google.png">
			</a>
			<a href="/auth/linkedin" class="undecorated-link">
				<img src="/modules/users/img/buttons/linkedin.png">
			</a>
			<a href="/auth/github" class="undecorated-link">
				<img src="/modules/users/img/buttons/github.png">
			</a>
		</div>
	</div> -->
		<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12" style="background-color: #F3DEBA; padding: 25px 25px;">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12" style="margin-top: 25px;">
				<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
					<fieldset>
						<div data-ng-show="error" class="text-center alert alert-danger">
							<strong data-ng-bind="error"></strong>
						</div>
						<div class="form-group">
							<label for="username">Username</label>
							<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary col-md-12">Sign in</button>
							<!-- <a href="/#!/signup">Sign up</a> -->
						</div>
						<div class="forgot-password text-center">
							<a href="/#!/password/forgot">Forgot your password?</a>
						</div>
					</fieldset>
				</form>
				<div class="col-md-12" style="min-height: 15px;"></div>
			</div>
		</div>
</section>