<section data-ng-controller="UpcomingEventsController" data-ng-init="find()">
  <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12" style="border: 2px solid #F3DEBA; border-top: none; background-color: #F3DEBA;">
    <div class="alert alert-warning text-center" data-ng-hide="!upcomingEvents.$resolved || upcomingEvents.length || user !== 'admin'" style="margin-top: 15px;">
     No upcoming events, would you like to <a href="/#!/upcoming-events/create">create one</a>?
   </div>
   <h1 class="text-center text-success" data-ng-show="upcomingEvents.length === 0" style="font-weight: bold; margin-bottom: 200px;">Sorry, No upcoming events listed.</h1>
   <h1 class="text-center text-success" data-ng-hide="upcomingEvents.length === 0" style="font-weight: bold;">Upcoming Events</h1>
   <div class="col-md-12" style="padding-top: 15px; margin-bottom: 25px;">
    <div class="upcoming-events">
      <a data-ng-repeat="upcomingEvent in upcomingEvents | orderBy: 'date' | filter: futureEvents" data-ng-href="#!/upcoming-events/{{upcomingEvent._id}}">
        <h3>{{upcomingEvent.date | date: 'MM/dd'}} - <span data-ng-bind="upcomingEvent.name" class="font-weight: bold;"></span></h3>
        <p "upcomingEvent.startTime === ''">{{upcomingEvent.startTime}}<span data-ng-hide="upcomingEvent.endTime === ''" data-ng-bind="+ '-' + upcomingEvent.endTime"></span><span data-ng-hide="upcomingEvent.startTime === ''"></span><span data-ng-hide="upcomingEvent.cover === null || upcomingEvent.cover === 0" data-ng-bind="', $' + upcomingEvent.cover + ' cover'"></span><span style="font-style: italic;" data-ng-bind="' ' + upcomingEvent.details"></span></p>
      </a>
    </div>
  </div>
</div>
</section>