<section data-ng-controller="SettingsController">
	<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 text-center" style="background-color: #F3DEBA;">
	<h3 class="col-md-12 text-center">Edit your profile</h3>
	<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12">
		<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div data-ng-show="success" class="text-center alert alert-success">
					<strong>Profile Saved Successfully</strong>
				</div>
				<div data-ng-show="error" class="text-center alert alert-danger">
					<strong data-ng-bind="error"></strong>
				</div>
				<div class="form-group">
					<label for="firstName">First Name</label>
					<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="First Name">
				</div>
				<div class="form-group">
					<label for="lastName">Last Name</label>
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Last Name">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="Username">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-success col-md-12 col-sm-12 col-xs-12">Save Profile</button>
				</div>
			</fieldset>
		</form>
		<div style="min-height: 25px;"></div>
	</div>
</div>
</section>