<section data-ng-controller="MenuitemsController" data-ng-init="findOne()">
	<div class="container-fluid">
		<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12" style="border: 2px solid #F3DEBA; border-top: none; background-color: #F3DEBA; margin-top: 75px; padding-bottom: 25px;">
			<div class="page-header">
				<h1 data-ng-bind="menuitem.name"></h1>
				<p class="text-warning" style="font-weight: bold;" data-ng-bind="'$' + menuitem.price"></p>
				<p data-ng-bind="menuitem.description"></p>
				<br>
				<p data-ng-bind="'Category: ' + menuitem.category"></p>
				<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == menuitem.user._id))">
					<a class="btn btn-sm btn-success" href="/#!/menuitems/create">
						Add more {{menuitem.category}}<i class="fa fa-plus-circle"></i>
					</a>
					<a class="btn btn-sm btn-primary" href="/#!/menuitems/{{menuitem._id}}/edit">
						Edit<i class="fa fa-edit"></i>
					</a>
					<a class="btn btn-sm btn-danger" data-ng-click="remove();">
						<i class="fa fa-trash"></i>
					</a>
				</div>
			</div>
	<!-- <small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="menuitem.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="menuitem.user.displayName"></span>
		</em>
	</small> -->
</div>
</div>
</section>
